nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') CodeChallenge
#v-pills-tab.nav.flex-column.nav-pills(role='tablist')
  a.nav-link( href='/', role='tab', aria-expanded='true') Home
  a.nav-link( href='/users', role='tab', aria-expanded='true') Directorio
