extends layout.pug

block content
	h1 Directorio Telefonico
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ullam temporibus vitae, dignissimos. Ratione aliquam provident, mollitia dolorem accusantium error sapiente voluptas ea rem maxime pariatur libero repellendus velit numquam!
	form(action='/index', method='post')
		label Nombre de usuario
			input(type='text', name='username')
		label Telefono
			input(type='text', name='phone')
		label Avatar
			input(type='file', name='avatar')	
		button(type='submit')