extends layout.pug

block content
	h1 Directorio Telefonico
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ullam temporibus vitae, dignissimos. Ratione aliquam provident, mollitia dolorem accusantium error sapiente voluptas ea rem maxime pariatur libero repellendus velit numquam!