extends layout.pug

block content
  h1 Lista de todo el directorio
  each contacto in usuarios
    div
      span=contacto.id
      span=contacto.name
      span=contacto.phone
      span=contacto.avatar
  form(action='/users', method='post')
    label Nombre de usuario
      input(name='name')
    label Telefono
      input(name='phone')
    label Avatar
      input(type='file' name='avatar')
    button(type='submit') Crear contacto