extends layout.pug

block content
  .content-wrapper
    .content
      .row
        .col-md-12
          form.form-horizontal(action='/users', method='post' enctype="multipart/form-data")
            .panel.panel-flat
              .panel-heading
                h5.panel-title Directorio
                .heading-elements
                  ul.icons-list
                    li
                      a(data-action='collapse')
                    li
                      a(data-action='close')
              .panel-body
                fieldset
                  legend.text-semibold
                    i.icon-file-text2.position-left
                    | Ingresa la informacion del contacto
                  #contact-form.collapse.in
                    .form-group
                      label.col-lg-3.control-label(for='name') Ingresa nombre completo:
                      .col-lg-9
                        input#name.form-control(name='name' required placeholder='ej: Elon Musk')
                    .form-group
                      label.col-lg-3.control-label(for='phone') Ingresa telefono:
                      .col-lg-9
                        input#phone.form-control(type='number' name='phone' required placeholder='(55) 55 43 42 56')
                  legend.text-semibold
                    i.icon-reading.position-left
                    | Agrega una imagen
                  #contact-form2.collapse.in
                    .form-group
                      label.col-lg-3.control-label(for='avatar') Avatar:
                      .col-lg-9
                        input#avatar.file-styled.form-control-file(type='file' name='avatar')
                        span.help-block Tamaño ideal: 150x150px 
                .text-right
                  button.btn.btn-primary(type='submit')
                    | Crear contacto
                    i.icon-arrow-right14.position-right
    if usuarios
      .content
        .row
          .alert.alert-primary.alert-styled-left
            button.close(type='button', data-dismiss='alert')
              span ×
              span.sr-only Close
            | Las imagenes en S3 tardan en cargar, al principio puede que no aparezca la imagen en el fondo del thumbnail, actualizar despues de 30 segundos.
          each contacto in usuarios
            .col-lg-3.col-md-6
              .thumbnail.no-padding
                .thumb
                  img.img-thumb(src='https://s3.amazonaws.com/'+contacto.bucket+'/'+contacto.avatar alt=contacto.name)
                  .caption-overflow
                    span
                      a.btn.bg-success-400.btn-icon.btn-xs(href='/users/'+contacto.id)
                        i.icon-link
                .caption.text-center
                  h6.text-semibold.no-margin
                    =contacto.name
                    small.display-block=contacto.phone
                  ul.icons-list.mt-15
                    li
                      a(href='/users/'+contacto.id+'/delete' data-popup='tooltip' title='Eliminar contacto' data-container='body')
                        span.label.bg-danger-400 Eliminar contacto
    else
      .content
        .alert.alert-warning.alert-styled-left
          button.close(type='button', data-dismiss='alert')
            span ×
            span.sr-only Close
          | Actualmente no tienes ningun contacto
