extends layout.pug

block content
  .contact-info.text-center
    .cover
      .banner-shadow
      .banner-cover
    if usuario
      img.contact-img(src='https://s3.amazonaws.com/'+usuario.bucket+'/'+usuario.avatar alt=usuario.name)
    else
      img.contact-img(src='/static/source/images/default.png')

    .contact-detail.container
      .row
        .col-md-6
          p.contact-name
            span.ion-ios-person
            =usuario ? usuario.name : 'No se encontro usuario'
          p.contact-phone
            span.ion-android-call
            =usuario ? usuario.phone : 'Sin telefono'
        .col-md-6
          if usuario
            p
              | Hola, me gusta jugar al futbol y tambien me gusta la fotografia
          else
            p Tienes que agregar un usuario primero